body {
	background-color: #264B6C;
}

/* HEADER & FOOTER STYLES */
.header-bar,
.footer-bar {
	background-color: #1f4f78e3;
	color: #FFF;
}

.navbar-brand,
.nav-link {
	color: #FFF !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
	box-shadow: none;
	border: none;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* MAIN STYLES */
/* First Section */
#first-section {
	background-color: #2E75B5;
	height: auto;
}

#first-section-button,
#third-section-button {
	background-color: #FED966;
	color: #2E75B5;
}

.image-1,
.image-2,
.image-3 {
	/* height: 200px; */
	border-radius: 10px;
}

.image-caption {
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 10px;
}

.caption h3,
.caption p {
	margin: 0;
}

/* Second Section */
.second-section {
	background-color: #FFF;
}

#second-section h4 {
	color: #2E75B5;
	margin: 0;
	font-weight: bolder;
}

#second-section p {
	color: #898989;
	margin: 0;
	font-weight: bolder;
}

#second-section-images {
	object-fit: cover;
	border-radius: 10px;
	width: 330px;
	height: auto;
}

/* Third Section */
.third-section {
	background-color: #2E75B5;
}

#third-section-button {
	background-color: #FED966;
	font-weight: bolder;
	color: #2E75B5;
}

.btn-primary {
	display: block;
	margin: 0 auto;
	border: none;
}